* {
    padding: 0;
    margin: 0;
}

body {
    margin: 0 auto;
    width: 1020px;
    font-family: 'Lato', sans-serif;
}

.portfolio {
    padding: 40px 40px;
    background: #2d303a;
    color: #666d89;
}

.portfolio h1 {
    font-size: 30px;
}

.portfolio p {
    padding: 30px 0;
    font-size: 18px;
}

.portfolio-buttons input {
    padding: 5px;
    margin-right: 5px;
    background: none;
    border-radius: 5px;
    border: 1px solid #666d89;
    color: #767e9e;
}

.portfolio-buttons input:hover {
    color: #dedede;
    border: 1px solid #dedede;
}

.portfolio-images {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr;
}

.about-us {
    padding: 40px 40px;
    background: #f2f2f2;
}

.about-us h1 {
    color: #666d89;
    font-size: 30px;
    text-align: justify;
}

.about-us p {
    padding: 30px 0;
    font-size: 18px;
    line-height: 30px;
    color: #767e9e;
}

.about-us-peoples {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    grid-gap: 15px;
    text-align: justify;
}

.about-us-peoples div {
    display: flex;
    margin: 0 auto;
    flex-direction: column;
}

.about-us-peoples p {
    padding: 0;
    font-size: 12px;
    line-height: 22px;
}

.about-us-peoples h1 {
    padding: 10px 0;
    font-size: 18px;
}